/* region BaseWeb */
h1 {
    background-color:black;
    color: white;
    max-width: 15%;
    margin-left: 42.5%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
}

body{
    background-color: #012f49;
    font-family: Copperplate, Papyrus, fantasy;
}
button{
    min-width: 10%;
    margin-left: 45%;
    background-color:#873D48
}
.container {
    background-color: #53687E;
    border: solid 5px #12130F;
}
.content {
    min-height:750px;
}
#cardArea {
    display: flex;
    justify-content: center;
}

img {
    max-width: 200px;
    max-height: 300px;
    margin-right:10px;
}

#aiCardArea {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
/* endregion */
/*region HideAndSeek */
.hidden{
    display:none;
    position: absolute;
    bottom:0;
}
/* endregion */
